.logo {
	background-color: black;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

img { 	max-width: 100%; 
	max-height: auto;
}


img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	font-size: 18px;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}


.active {
	background-color: #4CAF50;
}

.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.topnav .icon {
	display: none;
}

@media screen and (max-width: 700px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 700px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

.row {
	display: flex;
} 

.column {
	width: 25%;
	padding: 5px;
}

@media screen and (max-width: 7300px) {
	.column {
		width: 100%;
	}
}

