.logo {
	background-color: black;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

img { 	max-width: 100%; 
	max-height: auto;
}


img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	font-size: 18px;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}


.active {
	background-color: #4CAF50;
}
